body {
	background: #fff;
	color: #222;
	font-size: small;
	font-family: arial, sans-serif;
	display: block;
	width: 100%;
}

.nav {
	display: flex;
	height: 40px;
	align-items: center;
	margin: 10px;
}

.appicon {
	height: 25px;
	width: 25px;
	opacity: .65;
}

.left {
	margin-right: auto;
}

.nav li {
	padding: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.footer {
	background-color: #f2f2f2;
}

.googlelogo {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.searchbar {
	display: flex;
}

form {
	margin-right: auto;
	margin-left: auto;
}

form input {
	border-radius: 0;
}

button {
	background-color: rgb(66,133,244);
	font-weight: bold;
	color: white;
	padding: 5px 10px;
}