body {
	background: #fff;
	color: #222;
	font-size: small;
	font-family: arial, sans-serif;
	width: 100%;
	height: 100%;
}

a {
	color: #222;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

main {
	margin-bottom: 100px;
}

.nav {
	display: flex;
	height: 40px;
	align-items: center;
	margin: 10px;
}

.appicon {
	height: 25px;
	width: 25px;
	opacity: .65;
}

.left {
	margin-right: auto;
}

.nav li {
	padding: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.footer {
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	color: #666;
}

.googlelogo {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
}

.searchbar {
	display: flex;
}

form {
	margin-right: auto;
	margin-left: auto;
}

form input {
	border-radius: 0;
	border: none;
}

form input[type=text] {
	margin: 30px auto;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #e7e7e7;
	box-shadow: 0 1px 2px 0.5px #ccc;
	width: 650px;
	background-image: url(images/googlemicrophone.png);
	background-position: 98% 50%;
	background-size: 25px 25px;
	background-repeat: no-repeat;
	font-family: arial, sans-serif;
}

form input[type=submit] {
	height: 40px;
	width: 130px;
	margin-right: 10px;
	font-size: 13px;
	font-weight: bold;
	border-radius: 2px;
	background-color: #f2f2f2;
	color: #757575;
	font-family: arial, sans-serif;
}

form input[type=text]:hover {
	box-shadow: 0 1.5px 2.5px 1px #ccc;
}

.searchholder {
	text-align: center;
}

button {
	background-color: rgb(66,133,244);
	font-weight: 700;
	font-size: 13px;
	color: white;
	padding: 5px 10px;
	border: none;
	width: 70px;
	height: 30px;
	border-radius: 1px;
	font-family: arial, sans-serif;
}